<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="$(var.WMILab.ProjectName)" Language="1033" Version="0.1.1.0" Manufacturer="http://cavaliercoder.com" UpgradeCode="402a41a8-10f2-4d06-a339-e9312e01e0ba">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
    <PropertyRef Id="NETFRAMEWORK35" />
    <Condition Message="This setup requires the .NET Framework 3.5 to be installed.">Installed OR NETFRAMEWORK35</Condition>
    <UI>
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    <Icon Id="WmiLabIcon" SourceFile="$(var.WMILab.ProjectDir)WmiLab.ico" />
    <Property Id="ARPPRODUCTICON" Value="WmiLabIcon" />
    <WixVariable Id="WixUILicenseRtf" Value="eula.rtf"/>
    <Feature Id="ProductFeature" Title="WMILabInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductShortcuts"/>
    </Feature>
	</Product>
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.WMILab.ProjectName)" />
			</Directory>
      <Directory Id="ProgramMenuFolder" />
		</Directory>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="*">
        <File Id="MainExecutableFile" Name="$(var.WMILab.TargetFileName)" Source="$(var.WMILab.TargetPath)" />
      </Component>
      <Component Id="ScintillaLib" Guid="*">
        <File Id="ScintillaLibFile" Name="scilexer.dll" Source="$(var.WMILab.TargetDir)\scilexer.dll" />
      </Component>
      <Component Id="ScintillaLib64" Guid="*">
        <File Id="ScintillaLib64File" Name="scilexer64.dll" Source="$(var.WMILab.TargetDir)\scilexer64.dll" />
      </Component>
      <Component Id="ScintillaNetLib" Guid="*">
        <File Id="ScintillaNetLibFile" Name="scintillanet.dll" Source="$(var.WMILab.TargetDir)\scintillanet.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ProductShortcuts" Directory="ProgramMenuFolder">
      <Component Id="MainExecutableShortcut" Guid="{E9C18208-7622-4C8F-B79E-18AC2941D937}">
        <Shortcut Id="ApplicationStartMenuShortcut"
          Name="$(var.WMILab.ProjectName)"
          Target="[#MainExecutableFile]"
          WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.WMILab.ProjectName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>